<div class="comment-<%= comment.id%> border mt-3 p-3" >
  <%= comment.user.email %><br/>
  <span>Posted <%= time_ago_in_words(comment.created_at) %></span>
  <% if current_user == comment.user %>
    <div class="button-group float-end">
      <%= button_to "Delete", [post, comment], method: :delete, class: "btn btn-danger" %>
    </div>
  <% else %>
    <hr/>
    <%= comment.body %>
  <% end %>
</div>